<mat-divider class="mb-5 mt-2"></mat-divider>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Detalles</mat-card-title>
      <mat-card-subtitle>NewShore</mat-card-subtitle>
    </mat-card-header>
    <p style="margin: auto;"><mat-icon class="mt-4 mb-6" alt="Vuelo" title="Vuelo" style="transform: scale(4);">flight</mat-icon></p>
    <mat-card-content>
      <p>
      Viaja desde ____ hasta ____
      Aerolínea:__CO__
      <br>
      Vuelo número:__8010__
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button class="flat-button" color="primary">Cómpralo por ____ COP</button>
    </mat-card-actions>
  </mat-card>
<!-- </div> -->
